
body{
    //color: #fff;
    font-family: 'Verdana';
    text-align: center;
    background-color: #CECECE;
}
#content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-gap: 10px;
    max-width: 95%;
    margin: 0 auto;
    position:relative;

}
#content > *{
    //background: #3bbced;

}
header{
    grid-column: 1 / 13;
	padding: 15px;
}
main{
    grid-column: 3 / 13;
    grid-row: 2 / 4;
	border: 1px solid black;
    background: #fff;
}

aside{
    grid-column: 1 / 3;
}
prompt{
    grid-column: 1 /3;
}
area1{
    grid-column: 1 / 5;
    grid-row: 4 / 6;
	border: 1px solid black;
}
area2{
    grid-column: 5 / 10;
    grid-row: 4 / 6;

}
footer{
    grid-column: 1 / 13;
}

.nested{
    border: 0px solid #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    //grid-auto-columns: 100px;
    grid-gap: 1px;

    /*grid-column: span 3;*/
}
.nested p{
    border: 1px solid #fff;
    padding: 20px;
    margin: 0;


}

.nested sp{
    border: 1px solid #CECECE;
    padding: 0px;
    margin: 0;
    grid-column: 1 / 2


}

.nested div{

    border: 1px solid #947E7F;
    padding: 0px;
    margin: 0;
    //grid-column: 1 / 2;
    grid-row: 2 / 3;
    color: #5B5C68;
}


#b1 {
    border: 1px solid #fff;
    padding: 0;
    margin: 0;
    border: 0;
    //grid-column: 1 / 2;
    background: #B63A40;
    display: block;
    width: 100%;
}

#b2 {
    border: 1px solid #fff;
    padding: 0;
    margin: 0;
    border: 0;
    //grid-column: 1 / 2;
    background: cornflowerblue;
    display: #353C80;
    width: 100%;
}

#b3 {
    border: 1px solid #fff;
    padding: 0;
    margin: 0;
    border: 0;
    //grid-column: 1 / 2;
    background: #BA973B;
    display: block;
    width: 100%;

}

#b4 {
    border: 1px solid #fff;
    padding: 0;
    margin: 0;
    border: 0;
    //grid-column: 1 / 2;
    background: #3B9831;
    display: block;
    width: 100%;
}

#dimV {
    border: 1px solid #CECECE;
    padding: 0;
    margin: 0;
    border: 0;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background: #CECECE;

    //width: 80%;
}
#in1 {
    border: 1px solid #CECECE;
    padding: 0;
    margin: 0;
    border: 0;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background: #CECECE;

    //width: 80%;
}
#send1 {
    border: 1px solid #fff;
    padding: 0;
    margin: 0;
    border: 0;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background: white;
    //display: block;
    //width: 20%;
}

#in2 {
    border: 1px solid #CECECE;
    padding: 0;
    margin: 0;
    border: 0;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    background: #CECECE;

    //width: 80%;
}
#send2 {
    border: 1px solid #fff;
    padding: 0;
    margin: 0;
    border: 0;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    background: white;
    //display: block;
    //width: 20%;
}



/*


.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(82,0,115, 0.2);
  border-right: 1.1em solid rgba(82,0,115, 0.2);
  border-bottom: 1.1em solid rgba(82,0,115, 0.2);
  border-left: 1.1em solid #520073;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


*/
